<html>

    <head>
        <meta charset="UTF-8">
        <title>About</title>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>

    <div class="topnav" id="myTopnav">
        <a class="blog-nav-item active" href="index.html">Home</a>
        <a class="blog-nav-item" href="Categories.html">Categories</a>
        <a class="blog-nav-item" href="Tracks.html">Tracks</a>
        <a class="blog-nav-item" href="comments.html">Comments</a>
        <a class="blog-nav-item" href="about.html">About</a>
        <a class="blog-nav-item" href="contacts.html">Contact Us</a>
    </nav>
</div>

<body>


    <img src="https://static.pexels.com/photos/20974/pexels-photo.jpg" alt="Mountain View"
    style="width:1080px;height:320px;">

    <h1 align="center">About</h1>

    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident,
        sunt in culpa qui officia deserunt mollit anim id est laborum."
    </p>
</body>


</html>
