<html>

    <head>
        <meta charset="UTF-8">
        <title>Categories</title>
        <link rel="stylesheet" type="text/css" href="style.css" />

    </head>

    <div class="topnav" id="myTopnav">
        <a class="blog-nav-item active" href="index.html">Home</a>
        <a class="blog-nav-item" href="Categories.html">Categories</a>
        <a class="blog-nav-item" href="Tracks.html">Tracks</a>
        <a class="blog-nav-item" href="comments.html">Comments</a>
        <a class="blog-nav-item" href="about.html">About</a>
        <a class="blog-nav-item" href="contacts.html">Contact Us</a>
        </nav>
    </div>

<body>
    <center>
        <h1 align="center">Genres</h1>



        <table width="70%" border="1" bordercolor="green">
        <tr align="center">
            <td bgcolor="yellow"><b>Rock</b></td>
            <td bgcolor="red"><b>Rap</b></td>
            <td bgcolor="green"><b>Blues</b></td>
            <td bgcolor="blue"><b>Classics</b></td>
        </tr>

        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td></td>
        </tr>

        <tr>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td>5</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </center>


</body>

</html>
