<html>

    <head>
        <meta charset="UTF-8">
        <title>Tracks</title>
        <link rel="stylesheet" type="text/css" href="style.css" />
    </head>

    <div class="topnav" id="myTopnav">
        <a class="blog-nav-item active" href="index.html">Home</a>
        <a class="blog-nav-item" href="Categories.html">Categories</a>
        <a class="blog-nav-item" href="Tracks.html">Tracks</a>
        <a class="blog-nav-item" href="comments.html">Comments</a>
        <a class="blog-nav-item" href="about.html">About</a>
        <a class="blog-nav-item" href="contacts.html">Contact Us</a>
            </nav>
        </div>
    <body>
        <h1 align="center">Comments<H1>

    <center/>
        <iframe width="420" height="315" src="https://www.youtube.com/embed/XGSy3_Czz8k">
        </iframe>
    <center/>
    <textarea rows="10" cols="90"></textarea>
    <input type="submit" value="Submit">
</body>
</html>
