<html>

    <head>
        <meta charset="UTF-8">
        <title>Music Catalogue/Search</title>
        <link rel="stylesheet" type="text/css" href="style.css" />
        <link rel="navBar" type="text/html" href=../header.php />
    </head>

    <div class="topnav" id="myTopnav">
        <a class="blog-nav-item active" href="index.html">Home</a>
        <a class="blog-nav-item" href="Categories.html">Categories</a>
        <a class="blog-nav-item" href="Tracks.html">Tracks</a>
        <a class="blog-nav-item" href="comments.html">Comments</a>
        <a class="blog-nav-item" href="about.html">About</a>
        <a class="blog-nav-item" href="contacts.html">Contact Us</a>
    </div>

    <body>

        <h1 align="center">Search a track</h1>
        
        <div>
            <center>
            <form action="/action_page.php">
                <input type="text" name="song" class="td2">
                <input type="submit" value="Search">
            </form>
            </center>
        </div>

        <div>
            <table width = 30% align ="left" border="1" bordercolor="#4CAF50">
                <tr>
                    <td class="td"><p>Rap</p>
                        <ol>
                            <li>Coffee</li>
                            <li>Tea</li>
                            <li>Milk</li>
                            <li></li>
                            <li></li>
                        </ol>
                    </td>
                </tr>

                <tr>
                    <td class="td"><p>Rock</p>
                    <ol>
                        <li>Coffee</li>
                        <li>Tea</li>
                        <li>Milk</li>
                        <li></li>
                        <li></li>
                    </ol>
                    </td>
                </tr>
        </div>

        <div>
            <table width = 30% align ="right" border="1" bordercolor="#4CAF50">
                <tr>
                    <td class="td"><p>Classics</p>
                        <ol>
                            <li>Coffee</li>
                            <li>Tea</li>
                            <li>Milk</li>
                            <li></li>
                            <li></li>
                        </ol>
                    </td>
                </tr>

                <tr>
                    <td class="td"><p>Blues</p>
                    <ol>
                        <li>Coffee</li>
                        <li>Tea</li>
                        <li>Milk</li>
                        <li></li>
                        <li></li>
                    </ol>
                    </td>
                </tr>
        </div>

    </body>
</html>
